
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1476278774'); /* IE9*/
  src: url('iconfont.eot?t=1476278774#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1476278774') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1476278774') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1476278774#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xinxi:before { content: "\e630"; }
.icon-comiiscaidan:before { content: "\e603"; }
.icon-fanhui-copy:before { content: "\e600"; }
.icon-tianjia:before { content: "\e622"; }
.icon-xuanzhong:before { content: "\e739"; }
.icon-yuyin:before { content: "\e627"; }
.icon-more1170511easyiconnet:before { content: "\e60e"; }
.icon-zhizhang5:before { content: "\e64f"; }
